@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'inter', sans-serif;
}

.hamburger-line {
    @apply w-[30px] h-[2px] bg-dark2 my-2 block;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}